 
body {
color:#d3d3d3;  /* my argon red is to bright contrast changed to purple then to light gray colors dont look good yet */
background-color: #012833 ;
font-size: 20px;  /*text is to crowded vertically changing to a 20 from 15*/
/*font-size-adjust: none; /*firefox css3 if 1st font not available then it adjusts
second font none defeats moblie browsers text infaltion auto allows it? */
line-height: 1.4; ?/* the larger font will help but uping space in between lines 1.25 to 1.4*/
font-family: 'Ubuntu', 'Yantramanav', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family:    'Poppins', sans-serif;
 color:#75DCFD;

}
h1{
  font-size: 2.1em;
}
h2 {
  font-size: 1.7em;


}
h3 {
  font-size: 1.5em;
}
h4{
  font-size: 1.2em;
}
a {
  text-decoration: none; 
 color:#75DCFD;  /*I like the link color */
}

p {
  text-align: left ;
 text-rendering: optimizeLegibility;
 margin: 25px,50px;
 }
