
<!-- the links wont work unless I put in something where the hashmark is.
But I don't know what to put in there. I want to put a {{site.url.home}}.there
but I don't know how to set up the _config.yml to do that. If you have to set
  that up. -->
<h3><li>
<<a href="index">https://bolanbuilders.github.io/</a>
<a href="StickyPages">https://bolanbuilders.github.io/Sticky Page</a>
<a href="Documentation">https://bolanbuilders.github.io/Documentation Posts</a>
<a href="about">https://bolanbuilders.github.io/About Site</a>
<a href="Religion">https://bolanbuilders.github.io/Religion</a>
<a href="Links">https://bolanbuilders.github.io/Links and Bookmarks</a>
<a href="Pure">https://bolanbuilders.github.io/Pure Html Lundukedom Style</a>
</li></h3>
