
<!-- the links wont work unless I put in something where the hashmark is.
But I don't know what to put in there. I want to put a {{site.url.home}}.there
but I don't know how to set up the _config.yml to do that. If you have to set
  that up. -->
<h3>
  <div class="nav-boarder">
    <li>
      <div class="home-button"><a href="https://bolanbuilders.github.io/">Home </a></div>
      <div class="sticky-button"><a href="https://bolanbuilders.github.io/StickyPages"> Sticky</a></div>
      <div class="documentation-button"><a href="https://bolanbuilders.github.io/Documentation"> Documentation </a></div>
      <div class="about-button"><a href="https://bolanbuilders.github.io/About"> About </a></div>
      <div class="religion-button"><a href="https://bolanbuilders.github.io/Religion"> Religion </a></div>
      <div class="links-button"><a href="https://bolanbuilders.github.io/Links"> Links </a></div>
      <div class="pure-button"><a href="https://bolanbuilders.github.io/Pure">Pure html Lundukedom Pages </a></div>
    </li>
  </div>
</h3>
