
<!-- the links wont work unless I put in something where the hashmark is.
But I don't know what to put in there. I want to put a {{site.url.home}}.there
but I don't know how to set up the _config.yml to do that. If you have to set
  that up. -->
<h3><li>
<<a href="index">Home</a>
<a href="StickyPages">Sticky Page</a>
<a href="Documentation">Documentation Posts</a>
<a href="about">About Site</a>
<a href="Religion">Religion</a>
<a href="Links">Links and Bookmarks</a>
<a href="Pure">Pure Html Lundukedom Style</a>
</li></h3>
